
body{
  font-family: 'Amiko', sans-serif;
}
/* JAVASCRIPT STYLING */
.member-container {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    padding: .5em;
    font-size: 1em;
    line-height: .8em;
  }
  .member{
    grid-area: 1;
  }
  .line-item {
    display: grid;
    grid-template-columns: 40% 40% 10% 10%;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . .";
    padding-top: 1em;
    
  }
  .line-item-description {

    padding: 1em;
  }
  .line-item-amount{
  
    padding: 1em;
  }
