<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Amiko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Rent Splitr</title>
</head>

<body>
    <div class="member-container">
        <div class="member">
            <h2>Aria</h2>
            <hr>
            <form action="{{url_for('add_expense')}}" method='POST' id="ExpenseFormOne">
                <input type="text" name="description" id="ExpenseDescriptionOne" placeholder="Enter an expense">
                <input type="number" name="amount" id="ExpenseAmountOne">
                <input type="hidden" name="member" value="1"></input>
                <button type="submit">Add Expense</button>
            </form>
            <section id="ExpenseListOne">
                {% for expense in expenses %}
                {% if expense.member == 1 %}
                <div class="line-item" id="{{expense.id}}">
                    <span class="line-item-left">{{expense.description}}</span>
                    <span class="line-item-right">{{expense.amount}}</span>
                    <span class="line-item-edit edit-button"><i class="far fa-edit"></i></span>
                    <form action="{{url_for('delete_expense', id=expense.id )}}" method="get">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </section>
        </div>

        <div class="member">
            <h2>Bran</h2>
            <hr>
            <form action="{{url_for('add_expense')}}" method='POST' id="ExpenseFormTwo">
                <input type="text" name="description" id="ExpenseDescriptionTwo" placeholder="Enter an expense">
                <input type="number" name="amount" id="ExpenseAmountTwo">
                <input type="hidden" name="member" value="2"></input>
                <button type="submit">Add Expense</button>
            </form>
            <section id="ExpenseListTwo">

                {% for expense in expenses %}
                {% if expense.member == 2 %}
                <div class="line-item">
                    <span class="line-item-left">{{expense.description}}</span>
                    <span class="line-item-right">{{expense.amount}}</span>
                    <span class="line-item-edit edit-button"><i class="far fa-edit"></i></span>
                    <form action="{{url_for('delete_expense', id=expense.id )}}" method="get">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}

            </section>
        </div>

        <div class="member">
            <h2>Cersei</h2>
            <hr>
            <form action="{{url_for('add_expense')}}" method='POST' id="ExpenseFormThree">
                <input type="text" name="description" id="ExpenseDescriptionThree" placeholder="Enter an expense">
                <input type="number" name="amount" id="ExpenseAmountThree">
                <input type="hidden" name="member" value="3"></input>
                <button type="submit">Add Expense</button>
            </form>
            <section id="ExpenseListThree">
                {% for expense in expenses %}
                {% if expense.member == 3 %}
                <div class="line-item">
                    <span class="line-item-left">{{expense.description}}</span>
                    <span class="line-item-right">{{expense.amount}}</span>
                    <span class="line-item-edit edit-button"> <i class="far fa-edit"></i></span>
                    <form action="{{url_for('delete_expense', id=expense.id )}}" method="get">
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}

            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="../static/scripts/all.min.js"></script>
    <script src="../static/scripts/app.js"></script>

</body>

</html>